*{
    /* background-color:white; */
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1976d2;
  color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1000;
}

.dashboard-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-top: 80px;
}


.form-section, .preview-section {
  width: 50%;
  background: rgb(54, 94, 108);
  color:black;
  padding: 20px;
  border: 1px solid #ddd;
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}
.generate-btn {
  background: #1976d2;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.generate-btn:hover {
  background: #125aa0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1976d2;
  color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1000;
}

.logout-btn {
  background: white;
  color: #1976d2;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background: #f0f0f0;
}
