
.resume-template {
  width: 1000px;
  margin: auto;
  background: white;
  color:black;
  padding: 30px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.resume-header {
  text-align: center;
  border-bottom: 2px solid #1976d2;
  width:500px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.resume-header h1 {
  margin: 0;
}

.resume-section {
  margin-bottom: 20px;
}

.resume-section h2 {
  color: black;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
